* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.drum-kit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

button {
    background-color: #ffff00;
    width: 250px;
    height: 75px;
    color: #000;
    font-size: 2rem;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
}

/* Estilo normal do botão */
.instrumento {
    background-color: #4CAF50; /* Verde padrão */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    /* A MÁGICA: Suaviza qualquer mudança de estado em 0.1 segundos */
    transition: all 0.1s ease;
}

/* Estilo quando estiver "ativo" */
.tocando {
    background-color: #FFD700; /* Amarelo Ouro */
    color: black;
    /* Faz o botão diminuir um pouquinho, dando sensação de clique físico */
    transform: scale(0.95); 
    /* Adiciona um brilho externo */
    box-shadow: 0 0 15px #FFD700;
    border-color: #FFD700;
}